<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vquestion">
      <h2 data-cy="vquestionDetailsHeading"><span jhiTranslate="dhApp.vquestion.detail.title">Vquestion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vquestion.id }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.vquestion.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ vquestion.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.vquestion.vquestion">Vquestion</span></dt>
        <dd>
          <span>{{ vquestion.vquestion }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.vquestion.vquestionDescription">Vquestion Description</span></dt>
        <dd>
          <span>{{ vquestion.vquestionDescription }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.vquestion.appuser">Appuser</span></dt>
        <dd>
          <div *ngIf="vquestion.appuser">
            <a [routerLink]="['/appuser', vquestion.appuser?.id, 'view']">{{ vquestion.appuser?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhApp.vquestion.vtopic">Vtopic</span></dt>
        <dd>
          <div *ngIf="vquestion.vtopic">
            <a [routerLink]="['/vtopic', vquestion.vtopic?.id, 'view']">{{ vquestion.vtopic?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vquestion', vquestion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
