<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="album">
      <h2 data-cy="albumDetailsHeading"><span jhiTranslate="dhApp.album.detail.title">Album</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ album.id }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.album.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ album.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.album.title">Title</span></dt>
        <dd>
          <span>{{ album.title }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.album.appuser">Appuser</span></dt>
        <dd>
          <div *ngIf="album.appuser">
            <a [routerLink]="['/appuser', album.appuser?.id, 'view']">{{ album.appuser?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/album', album.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
