<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="photo">
      <h2 data-cy="photoDetailsHeading"><span jhiTranslate="dhApp.photo.detail.title">Photo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ photo.id }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.photo.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ photo.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dhApp.photo.image">Image</span></dt>
        <dd>
          <div *ngIf="photo.image">
            <a (click)="openFile(photo.image, photo.imageContentType)">
              <img [src]="'data:' + photo.imageContentType + ';base64,' + photo.image" style="max-width: 100%" alt="photo image" />
            </a>
            {{ photo.imageContentType }}, {{ byteSize(photo.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="dhApp.photo.album">Album</span></dt>
        <dd>
          <div *ngIf="photo.album">
            <a [routerLink]="['/album', photo.album?.id, 'view']">{{ photo.album?.title }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="dhApp.photo.calbum">Calbum</span></dt>
        <dd>
          <div *ngIf="photo.calbum">
            <a [routerLink]="['/calbum', photo.calbum?.id, 'view']">{{ photo.calbum?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/photo', photo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
